<app-header></app-header>
<form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
  <mat-card>
    <mat-card-title>Log In For Baseball Stats</mat-card-title>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
          This Field Is Required
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
          Invalid Email
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          This Field Is Required
        </mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
          At Least 7 Characters Required
        </mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('maxlength')">
          No More Then 20 Characters
        </mat-error>
      </mat-form-field>

      <!-- <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Password Confirm" formControlName="passwordConfirm">
                <mat-error *ngIf="loginForm.controls['passwordConfirm'].hasError('required')">
                 This Field Is Required
                </mat-error>
              </mat-form-field>
              </div> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Submit</button>
    </mat-card-actions>
  </mat-card>

</form>

<app-footer></app-footer>