   .title{
        font-size: 60px;
        text-align: center;
        width: 95%;
        color: #CC3433;
       
   }
.menuItem{
        color:  #CC3433;
    }
.header{
        border-radius: 10px;
        height: 85px;

    }

  

    
   
    

