.mat-display-1{
    font-size: 16px;
    text-align: center;
    width: 100%;
    color: #CC3433;
    text-align: left;
}

.center{
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 65px; 
}

