* {
    background-color: #0E3386;
    display: flex;
    justify-content: center;
    color:  #CC3433;
}



.searchButton{
    margin: 15px;
    background-color: #CC3433;
    color:#0E3386;
    float: right;
}

.footer{
    width: 100%;
    height: 100%;
    background-color:  #0E3386;
}

.statInput{
    padding-left: 40px,
}
