<div class="inputContainer">

  <mat-form-field class="statInput">
    <input class="statInput" type="text" [(ngModel)]="player_id" matInput placeholder="Active Player ID Number">
  </mat-form-field>

  <mat-form-field class="statInput">
    <mat-select [(ngModel)]="season" mastInput placeholder="Regular Season Year">
      <mat-option *ngFor="let year of years" [value]="year.abbreviation">
        {{ year.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <button class="searchButton" mat-raised-button color="#CC3433" (click)="getSearch()">Search</button>
</div>
<div>
  <h1>Player Stats</h1>
</div>
<app-stat-display [results]="results"></app-stat-display>

<div class="footer"></div>