<app-header></app-header>

<mat-form-field class="statInput">
  <mat-select [(ngModel)]="player_id" matInput placeholder="Active Hitter Name">
    <mat-option *ngFor="let player of players" [value]="player.abbreviation">
      {{ player.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="statInput">
  <mat-select [(ngModel)]="season" matInput placeholder="Regular Season Year">
    <mat-option *ngFor="let year of years" [value]="year.abbreviation">
      {{ year.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button color="accent" (click)="getStats()" class="button">Search</button>
<h1 class="title">Player Stats</h1>

<app-stat-display [results]="results"></app-stat-display>

<app-footer></app-footer>