
<table mat-table [dataSource]="results">

  <ng-container matColumnDef="team_full">
    <th class="tableHeader" mat-header-cell *matHeaderCellDef> Team Name</th>
    <td class="tableData" mat-cell *matCellDef="let result"> {{result.team_full}} </td>
  </ng-container>

  <ng-container class="tableColumn" matColumnDef="avg">
    <th class="tableHeader" mat-header-cell *matHeaderCellDef> Batting Average</th>
    <td class="tableData" mat-cell *matCellDef="let result"> {{result.avg}} </td>
  </ng-container>

  <ng-container class="tableColumn" matColumnDef="hr">
    <th class="tableHeader" mat-header-cell *matHeaderCellDef> Home Runs</th>
    <td class="tableData" mat-cell *matCellDef="let result"> {{result.hr}} </td>
  </ng-container>

  <ng-container class="tableColumn" matColumnDef="rbi">
    <th class="tableHeader" mat-header-cell *matHeaderCellDef> RBIs</th>
    <td class="tableData" mat-cell *matCellDef="let result"> {{result.rbi}} </td>
  </ng-container>

  <ng-container class="tableColumn" matColumnDef="sb">
    <th class="tableHeader" mat-header-cell *matHeaderCellDef> Stolen Bases</th>
    <td class="tableData" mat-cell *matCellDef="let result"> {{result.sb}} </td>
  </ng-container>

  <ng-container class="tableColumn" matColumnDef="ab">
      <th class="tableHeader" mat-header-cell *matHeaderCellDef> At Bats</th>
      <td class="tableData" mat-cell *matCellDef="let result"> {{result.ab}}</td> 
    </ng-container>

    <ng-container class="tableColumn" matColumnDef="g">
        <th class="tableHeader" mat-header-cell *matHeaderCellDef> Games </th>
        <td class="tableData" mat-cell *matCellDef="let result"> {{result.g}} </td>
      </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
<tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr> -->


</table>




