<app-header></app-header>
<mat-card>

  <mat-card-title>Registration to get Baseball Stats</mat-card-title>
  <form [formGroup]="registrationForm" novalidate (ngSubmit)="signUp()" class="regForm">

    <div class="containter">
      <div class="leftInput">
        <mat-form-field color="primary">
          <input type="text" matInput placeholder="First Name" formControlName="firstName">
          <mat-error *ngIf="registrationForm.controls['firstName'].hasError('required')">
            This Field Is Required
          </mat-error>
          <mat-error *ngIf="registrationForm.controls['firstName'].hasError('minlength')">
            At Least 3 Characters Required
          </mat-error>
        </mat-form-field>

        <mat-form-field color="primary">
          <input type="text" matInput placeholder="Last Name" formControlName="lastName">
          <mat-error *ngIf="registrationForm.controls['lastName'].hasError('required')">
            This Field Is Required
          </mat-error>
          <mat-error *ngIf="registrationForm.controls['lastName'].hasError('minlength')">
            At Least 3 Characters Required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea matInput placeholder="Street Address" formControlName="streetAddress"></textarea>
          <mat-error *ngIf="registrationForm.controls['streetAddress'].hasError('required')">
            This Field Is Required
          </mat-error>
          <mat-error *ngIf="registrationForm.controls['streetAddress'].hasError('maxlength')">
            No More Then 30 Characters
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input type="number" matInput placeholder="Phone Number" formControlName="phoneNumber">
          <mat-error *ngIf="registrationForm.controls['phoneNumber'].hasError('required')">
            This Field Is Required
          </mat-error>
          <mat-error *ngIf="registrationForm.controls['phoneNumber'].hasError('pattern')">
            Invalid Phone Number
          </mat-error>
        </mat-form-field>
      </div>
      <div class="rightInput">

        <mat-form-field class="full-width">
          <input type="text" matInput placeholder="City" formControlName="city">
          <mat-error *ngIf="registrationForm.controls['city'].hasError('required')">
            This Field Is Required
          </mat-error>
          <mat-error *ngIf="registrationForm.controls['city'].hasError('minlength')">
            At Least 3 Characters Required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-select placeholder="State" formControlName="state">
            <mat-option *ngFor="let state of states" [value]="state.abbreviation">
              {{ state.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registrationForm.controls['state'].hasError('required')">
            This Field Is Required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input type="number" matInput placeholder="Zip Code" formControlName="zip">
          <mat-error *ngIf="registrationForm.controls['zip'].hasError('required')">
            This Field Is Required
          </mat-error>
          <mat-error *ngIf="registrationForm.controls['zip'].hasError('pattern')">
            Invalid Zip Code
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input type="email" matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
            This Field Is Required
          </mat-error>
          <mat-error *ngIf="registrationForm.controls['email'].hasError('email')">
            Invalid Email
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
            This Field Is Required
          </mat-error>
          <mat-error *ngIf="registrationForm.controls['password'].hasError('minlength')">
            At Least 7 Characters Required
          </mat-error>
          <mat-error *ngIf="registrationForm.controls['password'].hasError('maxlength')">
            No More Then 20 Characters
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- <mat-form-field class="full-width">
      <input type="password" matInput placeholder="Password Confirm" formControlName="passwordConfirm">
      <mat-error *ngIf="registrationForm.controls['passwordConfirm'].hasError('required')">
        This Field Is Required
      </mat-error>
    </mat-form-field> -->


    <mat-card-actions>
      <button mat-raised-button color="accent" type="submit" [disabled]="!registrationForm.valid">Submit</button>
    </mat-card-actions>
  </form>
</mat-card>



<app-footer></app-footer>