.center{
  // display: inline-block;
  // margin-left: auto;
  // margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.float{
  float: left;
  color: #CC3433;
}


  
  
